THERECODE_APP_NAME=theReCode
THERECODE_ENVIRONMENT=development
THERECODE_API_PREFIX=/api/v1
THERECODE_HOST=0.0.0.0
THERECODE_PORT=8000
THERECODE_CORS_ORIGINS=["*"]
THERECODE_WORKSPACE_ROOT=../workspace
THERECODE_LOG_LEVEL=INFO
THERECODE_LOG_FORMAT=text
THERECODE_MONGODB_URI=mongodb://<username>:<password>@localhost:27017/therecode?authSource=admin
THERECODE_MONGODB_DATABASE_NAME=therecode
THERECODE_MONGODB_SERVER_SELECTION_TIMEOUT_MS=5000
THERECODE_MONGODB_CONNECT_TIMEOUT_MS=5000
THERECODE_JWT_SECRET_KEY=38feb51dd6106b5019dc7db726467e6e8486e0476f311e8d0a7c084a1bb3c947
THERECODE_JWT_ALGORITHM=HS256
THERECODE_JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
THERECODE_CREDENTIALS_ENCRYPTION_KEY=35fc9c181bcef9cb485a10e3889c5779257d16513402b88c184e102f27a07fd2
THERECODE_GITHUB_API_BASE_URL=https://api.github.com
THERECODE_GITLAB_API_BASE_URL=https://gitlab.com/api/v4
THERECODE_GOOGLE_API_KEY="YOUR_GOOGLE_API_KEY"
THERECODE_GOOGLE_GENAI_USE_VERTEXAI=false
THERECODE_GEMINI_MODEL=gemini-3.6-flash
THERECODE_GOOGLE_ADK_APP_NAME=therecode
